*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-height: 100vh;  
    overflow: hidden;
}

.loading{
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1000;
}

.black-bar{
    width: 100%;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: 1;
}
.dark-screen{
    width: 100vw;
    height: 0;
    background-color: rgba(0,0,0,.23);
}

.baloon{
    background-size: cover;
    width: 600px;
    height: 400px;
    margin-top: 100px; 
}

.text-game{
    position: absolute;
    font-weight: 900;
    font-family: radical;
    display: none,
    
}

.text-game2{
    position: absolute;
    font-family: radical;
    opacity: 0,
}

.btn-start{
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: red;
    top: 260px;
    margin: 50px;
    width: 25%;
    border-radius: 20px;
    border-color: black;
    color: white;
    box-shadow: 0 3px 0 yellow;
    font-family: radical;
    font-size: 2.3em;
    opacity: 0;
}

.btn-start:hover{
    cursor: pointer;
    background-color: green;
    transition: 300ms;
    outline: none; 
    color: black;
    transition: 300ms;
}

.btn-start:active{
    position: absolute;
    top: 3px;
    box-shadow: none;
    color: white;
    background-color: black
}

/*Tela de Seleção de Personagens*/
.box-select{
    display: flex;
}

.player1{
    width: 33.3%;
    height: 100vh;
    background-color: red;
    opacity: 0; 
}

.bar-name{
    width: 100%;
    height: 10%;
    background-color: rgba(0,0,0,.40);
}

.name{
    text-align: center;
    font-family: radical;
    color: white;
}

.vs{
    width: 33.3%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: 0; 
}
.box-image{
    height: 30%;
    width: 80%;
}
.vs-image{
    border-radius: 30px;
    margin: 5px auto;
}

.box-team{
    width: 80%;
    height: 50%;
}

.team{
    width: 80%;
    height: 100%;
    border: 3px solid red;
    border-radius: 5px;
    margin: 0 5px;
}

#teamB{
    border-color: blue;
}

.character{
    width: 100%;
    height: 33.3%;
}

.character:nth-child(2){
    border-top:2px solid red ;
    border-bottom:2px solid red ;
}

#character5{
    border-top:2px solid blue ;
    border-bottom:2px solid blue ;   
}

.btn-result{
    width: 70%;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: radical;
    font-size: 1.5em;
    background-color: rgb(201, 46, 46);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border-color: rgb(201, 46, 46);
    box-shadow: 0 3px white;
    outline: none;

}

.btn-result:hover{
    background-color: red;
    transition: 300ms;
    box-shadow: 0 3px rgb(201, 46, 46);
}

.btn-result:active{
    position: relative;
    top: 3px;
    box-shadow: none;
    outline: none;
}

.player2{
    width: 33.3%;
    height: 100vh;
    background-color: rgb(0, 4, 255);
    opacity: 0; 
}

.imgBig{
    width: 100%;
    height: 30%;
}

.select-hero{
    margin: 20px auto; 
    background-color: rgb(134, 111, 111);
    background-size: cover;
    width: 80%; 
    height: 50%;
    border-radius: 20px;
}
 
.box-hero{
    width: 100%;
    height: 23%;
    margin: 2% 0;
}


.hero{
    height: 100%;
    width: 23%;
    border-radius:50%;
    margin: 1px 1px;
    cursor: pointer;
}

.victory-screen{
    display: none;
    height: 100%;
    width: 100vw;
    background-color: rgba(0,0,0,.73);
}

.team-win{
    width: 40%;
    height: 100%;
    padding-top: 5px; 
}

.team-win > h1{
    font-family: radical;
    width: 100%;
    color: #00ff00;
    text-align: center;
}

.figureVic{
    width: 100%;
    height: 30%;
}

.img-team{
    width: 60%;
    height: 62%;
    margin: 0 20%;
    border-radius: 20px;
}

.name-win{
    text-align: center;
    font-weight: 900;
    color: white;
}

.btn-again{
    height: 100vh;
    width: 18%;
    background-color: #0000004d;
    z-index: 100;
}


.btn-again > span{
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    color: #ffffff1D;
}

.btn-again:hover{
    cursor: pointer;
    background-color: #000000b0;
    transition: 300ms;
    text-decoration: none !important;
}




@font-face {
    font-family: radical;
    src: url("../font/ladyRadical/radical.ttf");
}